@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }
span{
  display: inline-block;
}
/*for all*/

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/*for wrapper*/
.wrapper {
  max-width: 1098px;
  width: 86%; 
  margin: 0 auto;
}
/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}
/* Classes */

a{ color: #fff; }
.bold{ font-weight: 600; }

.third-head{
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  color: #21293B;
  margin-bottom: 6px;
}
.para{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.brown{
  color: #98886D;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  background-color: #69a49e;
}

header .wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="search"] { display: none; }

h1 a {
  font-size: 36px;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.navigation,.follow-search { display: flex; }
.navigation li { margin: 0 14px; }

.navigation a {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: .5s;
}

.navigation a:hover{
  color: #000;
  text-shadow: 1px 1px 3px #fff;
}

.follow-search {
  align-items: center;
  height: 78px;
  border-left: 1px solid rgba(102, 102, 102, 0.384);
  border-right: 1px solid rgba(102, 102, 102, 0.384);
}

.follow {
  width: 80px;
  height: 100%;
  text-transform: uppercase;
  font-size: 13px;
  border-right: 1px solid rgba(102, 102, 102, 0.384);
  padding: 30px 10px 0;
}

.follow span {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.search {
  width: 80px;
  height: 100%;
  text-align: center;
}

.search .fa {
  font-size: 31px;
  line-height: 80px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.hamburger{
  width: 30px;
  border-bottom: 1px solid #C3C2BE;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  display: none;
}

.line{
  text-indent: -999999px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 50px;
}
.social-icons{
  display: none;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/ 
.banner{
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: #FFFDFF;
  border-bottom: 1px solid #C3C2BE;
}

.prev-button,.next-button{
  position: absolute;
  top: 49.5%;
  width: 49px;
  height: 49px;
}

.prev-button{ left: 2.3%; }
.next-button{ right: 3%; }

.previous,.next{
  position: relative;
  width: 100%;
  height: 100%;
  color: crimson;
  text-indent: -999999px;
  border: 2px solid #69a49e;
}

.previous::before{ content: "\f104"; }
.next::before{ content: "\f105"; }

.previous::before,.next::before {
  font-family: "FontAwesome";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  float: right;
  text-indent: 0;
  color: #69a49e;
  line-height: 44px;
  text-align: center;
  font-size: 31px;
}

.slider{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slider li{
  width: 28%;
  height: 490px;
  margin: 0 20px;
}

.slider li:nth-child(4),.slider li:nth-child(5){ display: none; }
.slider figure{ height: 413px; }

.slider img{ 
  height: 100%;
  cursor: pointer; 
}

.heading-two{
  margin-top: 13px;
  font-size: 18.5px;
  font-weight: 500;
  color: #565562;
}

.slider li:nth-child(2) .heading-two{ margin-top: 8px; }

.burger-content {
  position: relative;
  display: inline-block;
  width: 258px;
  border: 9px solid #9f865f;
  border-right-color: #fff;
  background-color: #9f865f;
  text-indent: -999999px;
  margin-top: 13px;
  cursor: pointer;
}

.burger-content::before {
  content: "With Cheddar Cheese and Gherkins";
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 11.5px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  text-indent: 0;
}
 /*=================================
  banner styling ends here
=================================*/ 

/*=================================
    inspired styling starts here
=================================*/ 

.inspired{
  padding: 55.5px 0;
  height: 1022px;
  background-color: #FBF6FC;
  border-bottom: 1px solid #C3C2BE;
  text-align: center;
}

.inspired-content{
  margin:57px 0;
  width: 65.2%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inspired-content li{
  height: 277px;
  width: 205px;
  text-align: left;
  margin-bottom: 10px;
}

.advertisement{
  width: 31%;
  float: right;
  text-align: left;
}

.advertise{
  margin: 73px 0 17px;
  font-size: 12px;
  font-weight: 600;
  opacity: .7;
}

.advertisement figure{ height: 539px; }

.advertisement img{
  height: 100%;
  object-fit: cover;
}

.advertise-content{
  background-color: #3D8D96;
  padding: 20px;
}

.head-four{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  width: 90%;
  margin-bottom: 10px;
}

.advertise-content a{
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.advertise-content .fa{
  margin-left: 10px;
  font-size: 15px;
}
 /*=================================
    inspired styling ends here
=================================*/ 


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  